.container {
    position: relative;
    display: block;
}

.hint {
    margin-bottom: var(--space-2);
    display: flex;
}

.hintIcon {
    color: var(--color-grey);
    margin-right: var(--space-2);
}

.hintMessage {
    font-size: var(--font-14);
    line-height: var(--line-height-14);
    color: var(--color-grey);
}

.label {
    font-size: var(--font-16);
    line-height: var(--line-height-16);
    color: var(--color-grey);
    position: absolute;
    top: var(--top-4);
    left: var(--top-4);
    user-select: none;
    pointer-events: none;
    transition: all 0.3s ease;
}

.labelModified {
    font-size: var(--font-14);
    line-height: var(--line-height-14);
    top: var(--top-2);
}

.labelRequired {
    color: var(--color-red-light);
}

.input {
    font-size: var(--font-16);
    line-height: var(--line-height-16);
    color: var(--color-text);
    outline: none;
    width: var(--width-100);
    height: var(--height-12);
    padding: var(--space-6) var(--space-4) var(--space-2) var(--space-4);
    border-radius: var(--radius-5);
    border: solid 1px var(--color-border);
    background-color: var(--color-white);
    transition: all 0.3s ease;

    &:focus {
        border: solid 1px var(--color-primary);
        box-shadow: var(--box-shadow-purple);
    }
}
.inputDisabled {
    cursor: not-allowed;
    background-color: var(--color-bg-disabled);
}

.inputError {
    border: solid 1px var(--color-red-light);
    box-shadow: var(--box-shadow-red);
}

.error {
    margin-top: var(--space-2);
    display: flex;
    align-items: center;
}

.errorIcon {
    color: var(--color-red-light);
    margin-right: var(--space-2);
}

.errorMessage {
    font-size: var(--font-14);
    line-height: var(--line-height-14);
    color: var(--color-red-light);
}