.label {
    position: relative;
    display: flex;
}

.hint {
    margin-bottom: var(--spacing-1);
    display: flex;

    .hintIcon {
        color: var(--color-grey);
        margin-right: var(--spacing-1);
    }

    .hintMessage {
        font-size: 12px;
        color: var(--color-grey);
    }
}

.placeholder {
    font-size: var(--font-14);
    color: var(--color-grey);
    position: absolute;
    top: var(--space-16);
    left: var(--space-16);
    transition: all 0.3s ease;

    .placeholderModified {
        font-size: var(--font-12);
        top: var(--space-16);
    }

    .placeholderRequired {
        color: var(--color-red-light);
    }
}

.input {
    font-size: 14px;
    font-family: inherit;
    color: var(--color-text);
    outline: none;
    width: 100%;
    padding: var(--space-24) var(--space-16) var(--space-8) var(--space-16);
    border-radius: var(--radius-12);
    border: solid 1px var(--color-border);
    background-color: var(--color-white);
    transition: all 0.3s ease;

    &:focus {
        border: solid 1px var(--color-primary);
        box-shadow: var(--box-shadow-purple);
    }

    .inputDisabled {
        cursor: not-allowed;
        background-color: var(--field-disabled);
    }

    .inputError {
        border: solid 1px var(--color-red-light);
        box-shadow: var(--box-shadow-red);
    }
}

.error {
    margin-top: var(--spacing-1);
    display: flex;

    .errorIcon {
        color: var(--color-red-light);
        margin-right: var(--spacing-1);
    }

    .errorMessage {
        font-weight: 100;
        font-size: 12px;
        color: var(--color-red-light);
    }
}