.inputLabel {}

.inputContainer {
    position: relative;
}

.inputHint {
    margin-bottom: var(--spacing-1);
    display: flex;
}

.inputHintIcon {
    color: var(--color-grey);
    margin-right: var(--spacing-1);
}

.inputHintMessage {
    font-size: 12px;
    color: var(--color-grey);
}

.inputPlaceholder {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey);
    position: absolute;
    top: var(--spacing-2);
    left: var(--spacing-3);
    transition: all 0.3s ease;
}

.inputPlaceholderModified {
    font-size: 12px;
    line-height: 14px;
    top: var(--spacing-1);
}

.inputPlaceholderRequired {
    color: var(--color-red-light);
}

.input {
    font-size: 14px;
    line-height: 16px;
    font-family: inherit;
    color: var(--color-white);
    outline: none;
    width: 320px;
    padding: var(--spacing-3) var(--spacing-2) var(--spacing-1) var(--spacing-2);
    border-radius: var(--radius-md);
    border: solid 1px var(--color-border);
    background-color: var(--ui-dark);
    transition: all 0.3s ease;
}

.input:focus {
    border: solid 1px var(--color-green);
    box-shadow: var(--box-shadow-green);
}

.inputDisabled {
    cursor: not-allowed;
    background-color: var(--field-disabled);
}

.inputError {
    border: solid 1px var(--color-red-light);
    box-shadow: var(--box-shadow-red);
}

.inputErrorContainer {
    margin-top: var(--spacing-1);
    display: flex;
}

.inputErrorContainerIcon {
    color: var(--color-red-light);
    margin-right: var(--spacing-1);
}

.inputErrorContainerMessage {
    font-weight: 100;
    font-size: 12px;
    color: var(--color-red-light);
}