.sidebar {
    max-width: 320px;
    width: 100%;
    height: 100%;
    border-right: var(--border);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--zindex-sidebar);
}

.logo {
    height: 48px;
    width: 320px;
    padding: 0 var(--spacing-3);
    margin: var(--spacing-3) 0;
    position: relative;
}

.logoInner {
    width: 100%;
    height: 48px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    padding: 0 var(--spacing-2);
}

.sidebarListItem + .sidebarListItem {
    margin-top: var(--spacing-1);
}



