.sidebar {
    max-width: 320px;
    width: 100%;
    height: 100%;
    border-right: var(--border);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--zindex-sidebar);
}

.logo {
    height: 50px;
    width: 320px;
    padding: 0 30px;
    margin: 25px 0;
    position: relative;
}

.logoInner {
    width: 100%;
    height: 50px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}



