.button {
    font-family: inherit;
    color: var(--color-white);
    outline: none;
    min-width: var(--width-24);
    height: var(--height-12);
    padding: 0 var(--space-6);
    cursor: pointer;
    border-radius: var(--radius-4);
    border: none;
    background: var(--color-primary);
    transition: .3s;

    &:hover {
        background: var(--color-primary-light);
    }

    &:active {
        background: var(--color-primary-dark);
    }
}