.card {
    padding: var(--space-4);
    border: solid 1px var(--color-border);
    border-radius: var(--radius-2);
}

.cardDescription {
    min-height: 48px;
}

.cardFooter {
    margin-bottom: var(--space-2);
    display: flex;
    gap: var(--space-2);
}

.cardFooterType {

}