.match {
    width: 100%;
    padding: var(--spacing-2);
    border-radius: var(--radius-md);
    border: var(--border-light);
    background: var(--color-background-lighter);
}

.match + .match {
    margin-top: var(--spacing-3);
}

.matchHead {
    margin-bottom: var(--spacing-2);
    display: flex;
    justify-content: space-between;
}

.matchHeadDate {
    font-size: var(--font-size-md);
    color: var(--color-grey);
}

.matchHeadResults {
    font-size: var(--font-size-md);
    color: var(--color-grey);
    display: flex;
    align-items: center;
    gap: 8px;
}

.matchHeadResultsIcon {
    fill: var(--color-grey);
}

.matchHeadResultsStatus {
    font-weight: bold;
    color: var(--color-green);
}

.matchBody {
    display: flex;
}

.matchBodyResult {
    padding-right: var(--spacing-6);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    position: relative;
}

.matchBodyResult:before {
    content: "";
    width: 1px;
    height: 25px;
    background: linear-gradient(180deg, #7A7A99 0%, rgba(122, 122, 153, 0) 100%);
    transform: rotate(-180deg);
    position: absolute;
    top: 0;
    right: 0;
}

.matchBodyResult:after {
    content: "";
    width: 1px;
    height: 25px;
    background: linear-gradient(180deg, #7A7A99 0%, rgba(122, 122, 153, 0) 100%);
    transform: rotate(0deg);
    position: absolute;
    top: 25px;
    right: 0;
}

.matchBodyStats {
    display: flex;
    gap: var(--spacing-6);
    margin-left: auto;
}

.stat {}

.statName {
    font-size: var(--font-size-sm);
    text-align: center;
    color: var(--color-grey);
    margin-bottom: var(--spacing-1);
}

.statValue {
    font-size: var(--font-size-sm);
    color: var(--color-white);
    text-align: center;
}

.matchScore {
    font-size: var(--font-size-2xl);
    font-weight: bold;
    text-align: center;
    width: 80px;
}

.player {
    width: 200px;
    display: flex;
    align-items: center;
}

.playerLeft.player {
    flex-direction: row;
}

.playerLeft .playerInfo {
    margin-left: var(--spacing-2);
}

.playerLeft .playerInfoNickname {
    text-align: left;
}

.playerLeft .playerInfoLevel {
    text-align: left;
}

.playerRight.player {
    flex-direction: row-reverse;
}

.playerRight .playerInfo {
    margin-right: var(--spacing-2);
}

.playerRight .playerInfoNickname {
    text-align: right;
}

.playerRight .playerInfoLevel {
    text-align: right;
}

.playerInfoNickname {
    font-weight: bold;
    font-size: var(--font-size-md);
    color: var(--color-white);
}

.playerInfoLevel {
    font-size: var(--font-size-sm);
    color: var(--color-green-dark);
}