.avatar {
    position: relative;
}

.avatarLarge {
    
    & .avatarImage {
        width: 180px;
        height: 180px;
        border: solid 6px var(--color-green);    
    }
    
    & .avatarLevel {
        font-size: var(--font-size-lg);
        line-height: 48px;
        width: 48px;
        height: 48px;
    }
}

.avatarLevel {
    font-size: var(--font-size-sm);
    font-weight: bold;
    color: var(--color-background);
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-green);
    box-shadow: var(--box-shadow);
    position: absolute;
    left: -8px;
    bottom: 0;
    z-index: 10;
}

.avatarImage {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: solid 2px var(--color-green);
    background: var(--color-background-lighter);
    box-shadow: var(--box-shadow);
    transition: border 0.3s ease;
}

.avatarImage img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}