@import "vars.css";
@import "fonts.css";

html,
body {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    color: var(--white);
    background: var(--color-background);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--header-weight);
    line-height: var(--header-lh);
}

h1 {
    font-size: var(--h1-size);
    letter-spacing: var(--header-ls);
}