:root {
    /* NEW UI */
    --ui-dark: #21212E;
    --field-disabled: #3C3C54;

    /* CUSTOM */
    --color-primary: #2277bc;
    
    /* COLORS */
    --color-background: #19191e;
    --color-background-light: #20212b;
    --color-background-lighter: #2c2d3b;
    --color-grey: #7a7a99;

    --color-border: #363543;
    --color-border-light: #414358;
    
    --color-violet: #928FFF;
    --color-green: #23EAA4;
    --color-green-dark: #40809C;
    --color-green-darker: #329B9D;

    --color-red-light: #FF6B69;
    --color-red: #EB2B00;
    --color-red-dark: #9E1E00;

    /* GRADIENTS */
    --gradient-green: linear-gradient(270deg, #00FBA4 0%, #40809C 100%);
    
    --color-header: #333333;
    --color-link: #8888ee;
    --color-white: #ffffff;
    --color-black: #222222;

    /* FONTS */
    --font-body: 'AvenirNextCyr', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    --font-header: Georgia, serif;

    /* SPACING */
    --spacing-base: 8px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 40px;
    --spacing-6: 48px;
    --spacing-7: 56px;
    --spacing-8: 64px;
    --spacing-9: 72px;
    --spacing-10: 80px;
    --spacing-11: 88px;
    --spacing-12: 96px;

    --spacing-neg-1: -8px;
    --spacing-neg-2: -16px;
    --spacing-neg-3: -24px;
    --spacing-neg-4: -32px;
    --spacing-neg-5: -40px;
    --spacing-neg-6: -48px;
    --spacing-neg-7: -56px;
    --spacing-neg-8: -64px;
    --spacing-neg-9: -72px;
    --spacing-neg-10: -80px;
    --spacing-neg-11: -88px;
    --spacing-neg-12: -96px;

    /* TYPOGRAPHY */
    --font-size-base: 16px;
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 32px;
    --font-size-3xl: 48px;
    --font-size-4xl: 64px;
    --font-size-5xl: 80px;

    --fs-normal: 1.6rem;
    --lh-normal: 1.2;
    --ls-normal: 0.02rem;
    --header-weight: bold;
    --header-lh: 1.5;
    --header-ls: 1px;
    --h1-size: 6rem;
    --h2-size: 4rem;
    --h3-size: 2rem;
    --h4-size: 1.8rem;
    --p-size: 1.6rem;
    --p-lh: 1.2;
    --p-ls: 0.2rem;
    --p-mb: var(--spacing-2);

    /* BORDERS */
    --radius-sm: 2px;
    --radius: 4px;
    --radius-md: 6px;
    --radius-lg: 10px;
    --border: 1px solid var(--color-border);
    --border-light: 1px solid var(--color-border-light);

    /* SHADOWS */
    --box-shadow-green: 0 0 0 2px rgba(35, 234, 164, 0.5);
    --box-shadow-red: 0 0 0 2px rgba(255, 107, 105, 0.5);
    --box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);

    /* ZINDEX */
    --zindex-sidebar: 5000;
    --zindex-header: 4000;
    
}