.button {
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-background);
    outline: none;
    min-width: 100px;
    height: 36px;
    padding: 0 16px;
    cursor: pointer;
    border-radius: var(--radius-md);
    border: none;
    background: var(--color-green);
    box-shadow: var(--box-shadow);
    transition: .3s;
}