.header {
    height: 100px;
    width: 100%;
    border-bottom: var(--border);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    z-index: var(--zindex-header);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
} 


.menu {
    width: calc(100% - 320px);
    margin-left: 320px;
    height: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}

.controls {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.controlsItem {
    width: 24px;
    height: 24px;
    margin: 0 16px;
    position: relative;
}

.controlsItem img {
    opacity: 0.5;
    transition: 0.3s;

    &:hover {
        opacity: 1;
    }
}

.controlsActivities {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: var(--color-background);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-green);
    position: absolute;
    top: -3px;
    right: -3px;
}

.profile {
    position: relative;
}

.profileLevel {
    font-size: var(--fs-sm);
    font-weight: bold;
    color: var(--color-background);
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-green);
    position: absolute;
    left: -6px;
    bottom: -2px;
}

.profileImage {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px var(--color-green);
    background: var(--color-background-lighter);
    box-shadow: var(--box-shadow);
    transition: border 0.3s ease;
}