.header {
    height: 100px;
    width: 100%;
    border-bottom: var(--border);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    z-index: var(--zindex-header);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
} 


.menu {
    width: calc(100% - 320px);
    margin-left: 320px;
    height: 50px;
    padding: 0 30px;
    display: flex;
    justify-content: flex-end;
}

.profile {
    display: flex;
    align-items: center;
}

.profileImage {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px var(--color-green-dark);
    background: var(--color-background-lighter);
    box-shadow: var(--box-shadow);
    transition: border 0.3s ease;
    
    &:hover {
        border: solid 2px var(--color-green);
    }
}