.inputWrapper {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.inputPlaceholder {
    color: var(--color-grey);
    position: absolute;
    font-size: 14px;
    top: 16px;
    left: 20px;
}

.inputPlaceholderModified {
    top: 6px;
    font-size: 12px;
}

.inputPlaceholderRequired {
    color: var(--color-red);
}

.input {
    font-family: inherit;
    font-size: 14px;
    background-color: var(--color-background-lighter);
    color: var(--color-white);
    width: 250px;
    outline: none;
    padding: 25px 20px 8px 20px;
    border-radius: var(--radius-md);
    border: solid 1px var(--color-green);
}

.inputError {
    margin-top: var(--spacing-1);
    display: flex;
}

.inputErrorIcon {
    color: var(--color-red);
    margin-right: var(--spacing-1);
}

.inputErrorMessage {
    font-size: 12px;
    color: var(--color-red);
}