.inputLabel {}

.inputContainer {
    position: relative;
}

.inputHint {
    margin-bottom: var(--spacing-1);
    display: flex;
}

.inputHintIcon {
    color: var(--color-grey);
    margin-right: var(--spacing-1);
}

.inputHintMessage {
    font-size: 12px;
    color: var(--color-grey);
}

.inputPlaceholder {
    color: var(--color-grey);
    position: absolute;
    font-size: 14px;
    top: 16px;
    left: 20px;
    transition: all 0.3s ease;
}

.inputPlaceholderModified {
    top: 6px;
    font-size: 12px;
}

.inputPlaceholderRequired {
    color: var(--color-red);
}

.input {
    font-family: inherit;
    font-size: 14px;
    background-color: var(--ui-dark);
    color: var(--color-white);
    width: 320px;
    outline: none;
    padding: 25px 20px 8px 20px;
    border-radius: var(--radius-md);
    border: solid 1px var(--color-border);
    transition: all 0.3s ease;
}

.input:focus {
    border: solid 1px var(--color-green);
    box-shadow: var(--box-shadow-green);
}

.inputDisabled {
    background-color: var(--field-disabled);
}

.inputError {
    border: solid 1px var(--color-red-light);
    box-shadow: var(--box-shadow-red);
}

.inputErrorContainer {
    margin-top: var(--spacing-1);
    display: flex;
}

.inputErrorContainerIcon {
    color: var(--color-red-light);
    margin-right: var(--spacing-1);
}

.inputErrorContainerMessage {
    font-weight: 100;
    font-size: 12px;
    color: var(--color-red-light);
}