.newsDetail {
    padding: var(--spacing-4);
    margin-bottom: var(--spacing-5);
    background: var(--color-background-light);
    border: var(--border);
    border-radius: var(--radius-lg);
    box-shadow: var(--box-shadow);
}

.newsDetailHeader {
    margin-bottom: var(--spacing-5);
}

.newsDetailHeaderTitle {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: var(--spacing-2);
}

.newsDetailHeaderCaption {
    font-size: 24px;
    color: var(--color-grey);
}

.newsDetailImageContainer {
    width: calc(100% + var(--spacing-8));
    height: 470px;
    margin: 0 var(--spacing-neg-4) var(--spacing-5);
    background: var(--color-background-lighter);
    overflow: hidden;
    position: relative;
}

.newsDetailImage {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.newsDetailContent {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: var(--spacing-5);
}

.newsDetailContent * {
    margin-bottom: var(--spacing-2);
}

.newsDetailContent h1 {
    font-size: 32px;
    margin-bottom: var(--spacing-2);
}

.newsDetailFooter {
    border-top: var(--border);
    padding-top: var(--spacing-4);
}

.newsDetailFooterControls {
    
}