.sidebar {
    max-width: 320px;
    width: 100%;
    height: 100%;
    border-right: var(--border);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--zindex-sidebar);
}

.item {
    height: 50px;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    position: relative;
    transition: background 0.3s ease;
    
    &.active {
        color: var(--color-green);
        background: var(--color-background-lighter);
        opacity: 1;
        
        &:after {
            content: "";
            width: 4px;
            height: 100%;
            background: var(--color-green);
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    
    &:hover {
        opacity: 1;
        background: var(--color-background-lighter);
    }
}

.itemIcon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    background: var(--white);
}

.itemText {
    font-size: 16px;
}

.logo {
    height: 50px;
    width: 320px;
    padding: 0 30px;
    margin: 25px 0;
    position: relative;
}

.logoInner {
    width: 100%;
    height: 50px;
    background: var(--white);
}




