.widget {
    margin-bottom: var(--spacing-4);
    border-radius: var(--radius-md);
    border: solid 1px var(--color-border);
    box-shadow: var(--box-shadow);
    background: var(--color-background-light);
    position: relative;
}

.widgetHeader {
    padding: var(--spacing-3);
    background: var(--color-background-lighter);
    display: flex;
}

.widgetHeaderTitle {
    font-size: var(--font-size-md);
}

.widgetBody {
    padding: var(--spacing-3);
}