.avatar {
    width: var(--width-12);
    height: var(--height-12);
    overflow: hidden;
    border-radius: var(--radius-full);
    background: var(--color-primary);
    position: relative;
}

.avatarXS {
    width: var(--width-6);
    height: var(--height-6);
}

.avatarImage {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name {
    width: var(--width-100);
    height: var(--height-100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameCharacters {
    font-size: var(--font-24);
    font-weight: bold;
    line-height: var(--line-height-24);
    color: var(--color-white);
}

.nameCharactersXS {
    font-size: var(--font-12);
}