.header {
    width: 100%;
    padding: var(--spacing-3) 0;
    border-bottom: var(--border);
    background: var(--color-background-light);
    box-shadow: var(--box-shadow);
    z-index: var(--zindex-header);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
} 

.menu {
    width: calc(100% - 320px);
    margin-left: 320px;
    height: 48px;
    padding: 0 var(--spacing-3);
    display: flex;
    justify-content: flex-end;
}

.controls {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.controlsItem {
    width: 24px;
    height: 24px;
    margin: 0 16px;
    position: relative;
}

.controlsItem svg {
    opacity: 0.5;
    transition: 0.3s;
}

.controlsItem svg:hover {
    opacity: 1;
}

.controlsActivities {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: var(--color-background);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-green);
    position: absolute;
    top: -3px;
    right: -3px;
}