.news {
    
}

.newsTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsGrid {
    margin: 0 -16px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}