.slider {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}

.sliderInner {
    height: 400px;
    border-radius: var(--radius-lg);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    position: relative;
    z-index: 100;
}

.sliderControls {
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 200;
}

.sliderControlsItem {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: var(--white);
    border-radius: 50%;
    position: relative;
}

.sliderControlsItem + .sliderControlsItem {
    margin-left: var(--spacing-1);
}

.sliderControlsItemIcon {
    fill: var(--black);
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
